<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-2.5.xsd">
	
	<!-- <bean name="e1" class="com.lti.entity.Employee" scope="singleton"> 
	</bean> 
 -->
	<!-- to enable autowire -->
	<context:annotation-config></context:annotation-config>
	
	 <bean name="e1" class="com.lti.entity.Employee" scope="prototype"> 
	</bean> 
	<bean name="a1" class="com.lti.entity.Address">
	</bean>
	
	<bean name="a2" class="com.lti.entity.Address">
	</bean>  
</beans>